# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Randori.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\CodingDojo\Sources\Randori\.idea\.idea.Randori\.idea/dataSources/
/dataSources.local.xml
